.RightPanel {
    margin-right       : 4vw;
    opacity            : 0;
    animation          : fade-in 0.35s linear;
    animation-delay    : 0.45s;
    animation-fill-mode: forwards;
}







.RightPanel .Card {
    padding      : 2vh 1vw;
    margin-bottom: 2.5vh;
}

.RightPanel .Card:first-child .MenuIconButton {
    width: 1.87vw;
}

.YourPages {
    background-color: var(--selected-link-bg-color);
    padding         : 0.5vh 0.25vw;
    border-radius   : 4.5vh;
    margin-right    : 5vw;
}

.YourPages .Label {
    font-size  : 1.65vh;
    margin     : 0vh 0.75vw 0vh 0.5vw;
    padding-top: 0.5vh;
}

















.SuggestedGroups .SeeMoreBtn {
    background-color: var(--selected-link-bg-color);
    color           : var(--app-primary-color);
    font-weight     : bold;
    border-radius   : 2vh;
    text-align      : center;
    padding-top     : 0.25vh;
    width           : 4.5vw;
    font-size       : 1.35vh;
    text-shadow     : 0px 0px 5px #ddd;
}

.SuggestedGroups .Cover {
    margin: 2vh 0vw 0.75vh 0vw;
    width : 19.9vw;
}

.SuggestedGroups .Cover img {
    width        : 100%;
    border-radius: 2vh;
}

.SuggestedGroups .GroupDetails {
    line-height: 1.6;
    font-size  : 1.6vh;
}

.SuggestedGroups .GroupDetails .GroupName {
    font-weight: bold;
}

.SuggestedGroups .GroupDetails .GroupDescription {
    color      : var(--app-grey-color);
    text-shadow: 0px 0px 5px #ddd;
}

.GroupMembers .User {
    left         : -3.45vw;
    top          : -2.5vh;
    border-radius: 50%;
    border       : 2px solid white;
    height       : 4vh;
}

.GroupMembers img {
    width        : 2vw;
    border-radius: 50%;
}

.GroupMembers .Count {
    left            : -2vw;
    top             : -2.25vh;
    border-radius   : 50%;
    font-size       : 1.25vh;
    font-weight     : bold;
    color           : var(--app-grey-color);
    padding         : 0.6vh 0.5vw;
    box-shadow      : 0px 0px 5px #ddd;
    background-color: white;
}