@keyframes drop-from-top {
    from {
        transform: translateY(-12vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}